- page_title << @server.name
- page_title << "Webhooks"
- page_title << "History"

= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :webhooks
= render 'header', :active_nav => :history

.pageContent.pageContent--compact
  %dl.pageContent__definitions.u-margin
    %dt URL
    %dd= @req.url
    %dt Event
    %dd= @req.event
    %dt UUID
    %dd= @req.uuid

  %p.pageContent__title Payload
  %pre.codeBlock.u-margin.codeBlock--whitespace~ preserve @req.pretty_payload

  - if @requests.size > 1
    %p.pageContent__title All Attempts (#{@requests.size})
  - else
    %p.pageContent__title Attempt Details

  - @requests.each do |req|
    .u-margin
      %h4
        Attempt #{req.attempt}
        - if req.will_retry?
          %span.label.label--warning (will be retried)
      %dl.pageContent__definitions
        %dt Timestamp
        %dd= req.timestamp.strftime("%d/%m/%Y at %H:%M:%S")
        %dt HTTP Status Code
        %dd
          %span.label.label--large{:class => "label--http-status-#{req.status_code.to_s[0,1]}"}= req.status_code
      %p.pageContent__title Response Body
      %pre.codeBlock= req.body

  %p.u-margin= link_to "Back to history", [:history, organization, @server, :webhooks], :class => "button button--neutral"
